body {
    font-family: 'Montserrat';
    margin: 0 auto;
    color: rgb(42, 42, 42);
}

main {
    max-width: 1280px;
    margin:auto;
}

.banner-container {
    margin-top:50px;
    display:flex;
    justify-content: space-between;
}

.image-container {
    width:50%;
}

.image-container img {
    max-width: 100%;
}

h1 {
    font-weight:900;
    font-size:45px;
}

h2 {
    font-weight:900;
    font-size:45px;
    text-transform: uppercase;
}

h3 {
    font-weight:900;
    font-size:15px;
    text-transform: uppercase;
}

h4 {
    font-weight:900;
    font-size:25px;
}

h5 {

}

.title-container {
    width:50%;
}

.title-container a {
    font-weight:900;
    background:yellow;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px; 
}

.title-container p {
    padding-bottom: 30px;
}

a {
    /* nuimame numatyta nuorodos formatavimas */
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    transition: 0.3s;

}

a:visited {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:hover {
    color:rgb(167, 164, 164);
    /* ryskumas */
    opacity: 0.5;
}


.logo img {
    max-width: 64px;
}

.top-container {
    display:flex;
    justify-content: space-between;
    /* automatiskai parenka parastes is kaires ir desines puses */
    margin: 0 auto;
    /* svetaines iscentravimas su margin auto ir maksimaliu plociu */
    max-width: 1280px;
    background: #fff;
    padding-top: 20px;
}

.navigation {
    display:inline-block;
}

.navigation ul li {
    display: inline;
    margin-right:30px;
}
.navigation ul li:last-child {
    margin-right:0;
}

.blog-container {
    margin-top: 100px;
}

.blog-container .cards {
    display: flex;
    justify-content: space-between;
}

.blog-container .cards .card {
    width: 31%;
    position: relative;
}

.blog-container .cards .card .image-wrapper {
    position: relative;
    cursor: pointer;
}

.blog-container .cards .card .image {
    max-width: 100%;
    display: block;
}

.blog-container .cards .card .image-wrapper .hover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    background-color: yellow;
}

.blog-container .cards .card .image-wrapper:hover .hover-overlay {
    opacity: 0.8;
}

.blog-container .cards .card .image-wrapper .hover-overlay .read-more {
    color: black;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.blog-container .card .date {
    font-weight: 400;
    font-size: 12px;
}

.showcase-container .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.showcase-container .grid-container .grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.showcase-container .grid-container .grid-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 3 / last-line;
}

.showcase-container .grid-container .grid-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/ 4;
}

.showcase-container .grid-container .grid-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4 / last-line;
}

.showcase-container .grid-container .grid-item:nth-child(5) {
    grid-column: 3/4;
    grid-row: 1/ 3;
}

.showcase-container .grid-container .grid-item:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3 / last-line;
}

.showcase-container .grid-container .grid-item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-container .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;    
    align-items: center;
}

.about-container .grid-container .grid-item {
    position: relative;
    /* text-align: center; */
    /* color: white; */
}

.about-container .grid-container .grid-item img {
    max-width: 100%;
}

.about-container .grid-container .grid-item .image-label {
    background-color: gold;
    max-width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    text-align: center;
}

.about-container .grid-container .grid-item .image-label p {
    color: white;
    font-weight: 500;
    font-size: 12px;
    margin: 5px;
}

.about-container .grid-container .grid-item .image-label h5 {
    font-size: 16px;
    margin: 5px;
}

.contact-container {
    margin-top: 100px;
}

.contact-container .form-container {
    display: flex;
    justify-content: space-between;
}

.contact-container .form-container .form {
    width: 49%;
}

.contact-container .form-container .image-container {
    width: 49%;
}

.contact-container .form-container .image-container img {
    max-width: 100%;
}

.contact-container .form-container .form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #f9f9f9;
    border: none;
    font-family: 'Montserrat';
}

.contact-container .form-container .form form {
    margin-bottom: 30px;
}

.contact-container h4 {
    margin-top: 0;
}

.contact-container a {
    font-weight:900;
    background:yellow;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px; 
}

.contact-container .icons-container {
    margin: 50px 0px;
}

.contact-container .contact-icons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
}

.contact-container .contact-icon {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    width: 150px;
    cursor: pointer;
}

.contact-container .contact-icon img {
    height: 32px;
    width: auto;
}

.contact-container .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 15%;
}

.contact-container .social-icon img {
    height: 32px;
    width: auto;
    cursor: pointer;
}

footer {
    background-color: rgb(42, 42, 42);
    color: #fff;
    padding: 20px 0 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin:auto;
    align-items: center;
}

.footer-container .left-side {
    display: flex;
    align-items: center;
}

.footer-container .right-side a {
    display: flex;
    align-items: center;
    color: #fff;
}

.footer-container .right-side a .text {
   margin-right: 10px;
}

.footer-container .right-side a .symbol {
    transform: rotate(90deg);
}

.footer-container .footer-logo {
    margin-right: 20px;
}

.footer-container img {
    max-width: 64px;
}